WebApplication2/WebApplication1/Web References/jdcmobile/PageStoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.episerver.com/WebServices/v5/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://schemas.episerver.com/WebServices/v5/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.episerver.com/WebServices/v5/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetDefaultPageData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parentPageLink" type="tns:PageReference" />
            <s:element minOccurs="1" maxOccurs="1" name="pageTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="selector" type="tns:LanguageSelector" />
            <s:element minOccurs="1" maxOccurs="1" name="access" type="tns:AccessLevel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PageReference">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WorkID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RemoteSite" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LanguageSelector">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LanguageBranch" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AccessLevel">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="NoAccess" />
              <s:enumeration value="Read" />
              <s:enumeration value="Create" />
              <s:enumeration value="Edit" />
              <s:enumeration value="Delete" />
              <s:enumeration value="Publish" />
              <s:enumeration value="Administer" />
              <s:enumeration value="FullAccess" />
              <s:enumeration value="Undefined" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:element name="GetDefaultPageDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefaultPageDataResult" type="tns:RawPage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RawPage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Property" type="tns:ArrayOfRawProperty" />
          <s:element minOccurs="0" maxOccurs="1" name="ACL" type="tns:ArrayOfRawACE" />
          <s:element minOccurs="0" maxOccurs="1" name="PageObjects" type="tns:ArrayOfRawPageObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRawProperty">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RawProperty" nillable="true" type="tns:RawProperty" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RawProperty">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PageDefinitionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OwnerTab" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsModified" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsNull" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRequired" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPropertyData" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDynamicProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLanguageSpecific" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:PropertyDataType" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LanguageKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AssemblyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomData" type="tns:ArrayOfRawNameAndXml" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PropertyDataType">
        <s:restriction base="s:string">
          <s:enumeration value="Boolean" />
          <s:enumeration value="Number" />
          <s:enumeration value="FloatNumber" />
          <s:enumeration value="PageType" />
          <s:enumeration value="PageReference" />
          <s:enumeration value="Date" />
          <s:enumeration value="String" />
          <s:enumeration value="LongString" />
          <s:enumeration value="Category" />
          <s:enumeration value="LinkCollection" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfRawNameAndXml">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RawNameAndXml" nillable="true" type="tns:RawNameAndXml" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RawNameAndXml">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRawACE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RawACE" nillable="true" type="tns:RawACE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RawACE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EntityType" nillable="true" type="tns:SecurityEntityType" />
          <s:element minOccurs="1" maxOccurs="1" name="SID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Access" type="tns:AccessLevel" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SecurityEntityType">
        <s:restriction base="s:string">
          <s:enumeration value="User" />
          <s:enumeration value="Role" />
          <s:enumeration value="VisitorGroup" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfRawPageObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RawPageObject" nillable="true" type="tns:RawPageObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RawPageObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ObjectExternalId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="StoreName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Owner" type="tns:OwnerOption" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OwnerOption">
        <s:restriction base="s:string">
          <s:enumeration value="Page" />
          <s:enumeration value="PageLanguageBranch" />
          <s:enumeration value="PageVersion" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetChildren">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageLink" type="tns:PageReference" />
            <s:element minOccurs="0" maxOccurs="1" name="selector" type="tns:LanguageSelector" />
            <s:element minOccurs="1" maxOccurs="1" name="startIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maxRows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChildrenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChildrenResult" type="tns:ArrayOfRawPage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRawPage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RawPage" nillable="true" type="tns:RawPage" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageLink" type="tns:PageReference" />
            <s:element minOccurs="0" maxOccurs="1" name="selector" type="tns:LanguageSelector" />
            <s:element minOccurs="1" maxOccurs="1" name="access" type="tns:AccessLevel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPageResult" type="tns:RawPage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindPagesWithCriteria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageLink" type="tns:PageReference" />
            <s:element minOccurs="0" maxOccurs="1" name="criterias" type="tns:ArrayOfPropertyCriteria" />
            <s:element minOccurs="0" maxOccurs="1" name="languageBranch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="selector" type="tns:LanguageSelector" />
            <s:element minOccurs="1" maxOccurs="1" name="requiredAccess" type="tns:AccessLevel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPropertyCriteria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PropertyCriteria" nillable="true" type="tns:PropertyCriteria" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PropertyCriteria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:PropertyDataType" />
          <s:element minOccurs="1" maxOccurs="1" name="Condition" type="tns:CompareCondition" />
          <s:element minOccurs="1" maxOccurs="1" name="IsNull" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Required" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CompareCondition">
        <s:restriction base="s:string">
          <s:enumeration value="Equal" />
          <s:enumeration value="GreaterThan" />
          <s:enumeration value="LessThan" />
          <s:enumeration value="NotEqual" />
          <s:enumeration value="StartsWith" />
          <s:enumeration value="EndsWith" />
          <s:enumeration value="Contained" />
        </s:restriction>
      </s:simpleType>
      <s:element name="FindPagesWithCriteriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindPagesWithCriteriaResult" type="tns:ArrayOfRawPage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLanguageBranches">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageLink" type="tns:PageReference" />
            <s:element minOccurs="1" maxOccurs="1" name="access" type="tns:AccessLevel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLanguageBranchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLanguageBranchesResult" type="tns:ArrayOfRawPage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateLanguageBranch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageLink" type="tns:PageReference" />
            <s:element minOccurs="0" maxOccurs="1" name="selector" type="tns:LanguageSelector" />
            <s:element minOccurs="1" maxOccurs="1" name="access" type="tns:AccessLevel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateLanguageBranchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateLanguageBranchResult" type="tns:RawPage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteLanguageBranch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageLink" type="tns:PageReference" />
            <s:element minOccurs="0" maxOccurs="1" name="languageBranch" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="access" type="tns:AccessLevel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteLanguageBranchResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageLink" type="tns:PageReference" />
            <s:element minOccurs="1" maxOccurs="1" name="access" type="tns:AccessLevel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteVersionResponse">
        <s:complexType />
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageLink" type="tns:PageReference" />
            <s:element minOccurs="1" maxOccurs="1" name="forceDelete" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="access" type="tns:AccessLevel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteChildren">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageLink" type="tns:PageReference" />
            <s:element minOccurs="1" maxOccurs="1" name="forceDelete" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="access" type="tns:AccessLevel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteChildrenResponse">
        <s:complexType />
      </s:element>
      <s:element name="Move">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageLink" type="tns:PageReference" />
            <s:element minOccurs="0" maxOccurs="1" name="destinationLink" type="tns:PageReference" />
            <s:element minOccurs="1" maxOccurs="1" name="requiredSourceAccess" type="tns:AccessLevel" />
            <s:element minOccurs="1" maxOccurs="1" name="requiredDestinationAccess" type="tns:AccessLevel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveResponse">
        <s:complexType />
      </s:element>
      <s:element name="MoveToWastebasket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageLink" type="tns:PageReference" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveToWastebasketResponse">
        <s:complexType />
      </s:element>
      <s:element name="Copy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pageLink" type="tns:PageReference" />
            <s:element minOccurs="0" maxOccurs="1" name="destinationLink" type="tns:PageReference" />
            <s:element minOccurs="1" maxOccurs="1" name="requiredSourceAccess" type="tns:AccessLevel" />
            <s:element minOccurs="1" maxOccurs="1" name="requiredDestinationAccess" type="tns:AccessLevel" />
            <s:element minOccurs="1" maxOccurs="1" name="publishOnDestination" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="allowThreading" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CopyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CopyResult" type="tns:PageReference" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="page" type="tns:RawPage" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="tns:SaveAction" />
            <s:element minOccurs="1" maxOccurs="1" name="access" type="tns:AccessLevel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SaveAction">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Save" />
          <s:enumeration value="CheckIn" />
          <s:enumeration value="Publish" />
          <s:enumeration value="Reject" />
          <s:enumeration value="ForceNewVersion" />
          <s:enumeration value="ForceCurrentVersion" />
          <s:enumeration value="ActionMask" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveResult" type="tns:PageReference" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDefaultPageDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefaultPageData" />
  </wsdl:message>
  <wsdl:message name="GetDefaultPageDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefaultPageDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetChildrenSoapIn">
    <wsdl:part name="parameters" element="tns:GetChildren" />
  </wsdl:message>
  <wsdl:message name="GetChildrenSoapOut">
    <wsdl:part name="parameters" element="tns:GetChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="GetPageSoapIn">
    <wsdl:part name="parameters" element="tns:GetPage" />
  </wsdl:message>
  <wsdl:message name="GetPageSoapOut">
    <wsdl:part name="parameters" element="tns:GetPageResponse" />
  </wsdl:message>
  <wsdl:message name="FindPagesWithCriteriaSoapIn">
    <wsdl:part name="parameters" element="tns:FindPagesWithCriteria" />
  </wsdl:message>
  <wsdl:message name="FindPagesWithCriteriaSoapOut">
    <wsdl:part name="parameters" element="tns:FindPagesWithCriteriaResponse" />
  </wsdl:message>
  <wsdl:message name="GetLanguageBranchesSoapIn">
    <wsdl:part name="parameters" element="tns:GetLanguageBranches" />
  </wsdl:message>
  <wsdl:message name="GetLanguageBranchesSoapOut">
    <wsdl:part name="parameters" element="tns:GetLanguageBranchesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateLanguageBranchSoapIn">
    <wsdl:part name="parameters" element="tns:CreateLanguageBranch" />
  </wsdl:message>
  <wsdl:message name="CreateLanguageBranchSoapOut">
    <wsdl:part name="parameters" element="tns:CreateLanguageBranchResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteLanguageBranchSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteLanguageBranch" />
  </wsdl:message>
  <wsdl:message name="DeleteLanguageBranchSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteLanguageBranchResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteVersionSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteVersion" />
  </wsdl:message>
  <wsdl:message name="DeleteVersionSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteVersionResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteChildrenSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteChildren" />
  </wsdl:message>
  <wsdl:message name="DeleteChildrenSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="MoveSoapIn">
    <wsdl:part name="parameters" element="tns:Move" />
  </wsdl:message>
  <wsdl:message name="MoveSoapOut">
    <wsdl:part name="parameters" element="tns:MoveResponse" />
  </wsdl:message>
  <wsdl:message name="MoveToWastebasketSoapIn">
    <wsdl:part name="parameters" element="tns:MoveToWastebasket" />
  </wsdl:message>
  <wsdl:message name="MoveToWastebasketSoapOut">
    <wsdl:part name="parameters" element="tns:MoveToWastebasketResponse" />
  </wsdl:message>
  <wsdl:message name="CopySoapIn">
    <wsdl:part name="parameters" element="tns:Copy" />
  </wsdl:message>
  <wsdl:message name="CopySoapOut">
    <wsdl:part name="parameters" element="tns:CopyResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="SaveSoapOut">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="PageStoreServiceSoap">
    <wsdl:operation name="GetDefaultPageData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a page with default values.</wsdl:documentation>
      <wsdl:input message="tns:GetDefaultPageDataSoapIn" />
      <wsdl:output message="tns:GetDefaultPageDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChildren">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieve page listing.</wsdl:documentation>
      <wsdl:input message="tns:GetChildrenSoapIn" />
      <wsdl:output message="tns:GetChildrenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Read a single page.</wsdl:documentation>
      <wsdl:input message="tns:GetPageSoapIn" />
      <wsdl:output message="tns:GetPageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindPagesWithCriteria">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search for pages that fulfil specific criteria.</wsdl:documentation>
      <wsdl:input message="tns:FindPagesWithCriteriaSoapIn" />
      <wsdl:output message="tns:FindPagesWithCriteriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLanguageBranches">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all language branches for a page.</wsdl:documentation>
      <wsdl:input message="tns:GetLanguageBranchesSoapIn" />
      <wsdl:output message="tns:GetLanguageBranchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateLanguageBranch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create a page language.</wsdl:documentation>
      <wsdl:input message="tns:CreateLanguageBranchSoapIn" />
      <wsdl:output message="tns:CreateLanguageBranchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLanguageBranch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a page language.</wsdl:documentation>
      <wsdl:input message="tns:DeleteLanguageBranchSoapIn" />
      <wsdl:output message="tns:DeleteLanguageBranchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a page version</wsdl:documentation>
      <wsdl:input message="tns:DeleteVersionSoapIn" />
      <wsdl:output message="tns:DeleteVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a page.</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChildren">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete children of a page.</wsdl:documentation>
      <wsdl:input message="tns:DeleteChildrenSoapIn" />
      <wsdl:output message="tns:DeleteChildrenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Move">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Move a page to another container.</wsdl:documentation>
      <wsdl:input message="tns:MoveSoapIn" />
      <wsdl:output message="tns:MoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoveToWastebasket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Move a page to the Wastebasket.</wsdl:documentation>
      <wsdl:input message="tns:MoveToWastebasketSoapIn" />
      <wsdl:output message="tns:MoveToWastebasketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Copy a page to another container.</wsdl:documentation>
      <wsdl:input message="tns:CopySoapIn" />
      <wsdl:output message="tns:CopySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Save a page.</wsdl:documentation>
      <wsdl:input message="tns:SaveSoapIn" />
      <wsdl:output message="tns:SaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns true for an authenticated message.</wsdl:documentation>
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PageStoreServiceSoap" type="tns:PageStoreServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDefaultPageData">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/GetDefaultPageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildren">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/GetChildren" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/GetPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPagesWithCriteria">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/FindPagesWithCriteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLanguageBranches">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/GetLanguageBranches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLanguageBranch">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/CreateLanguageBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLanguageBranch">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/DeleteLanguageBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVersion">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/DeleteVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChildren">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/DeleteChildren" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Move">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/Move" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveToWastebasket">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/MoveToWastebasket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/Copy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://schemas.episerver.com/WebServices/v5/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PageStoreServiceSoap12" type="tns:PageStoreServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDefaultPageData">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/GetDefaultPageData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildren">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/GetChildren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/GetPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPagesWithCriteria">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/FindPagesWithCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLanguageBranches">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/GetLanguageBranches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLanguageBranch">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/CreateLanguageBranch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLanguageBranch">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/DeleteLanguageBranch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVersion">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/DeleteVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChildren">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/DeleteChildren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Move">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/Move" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveToWastebasket">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/MoveToWastebasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/Copy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://schemas.episerver.com/WebServices/v5/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PageStoreService">
    <wsdl:port name="PageStoreServiceSoap" binding="tns:PageStoreServiceSoap">
      <soap:address location="http://jdcmobile/webservices/PageStoreService.asmx" />
    </wsdl:port>
    <wsdl:port name="PageStoreServiceSoap12" binding="tns:PageStoreServiceSoap12">
      <soap12:address location="http://jdcmobile/webservices/PageStoreService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>